@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,500|Poppins:900i|Source+Code+Pro:500');

body {
      color: #333;
      padding: 30px;
      background: #f1f1f1;
      font-family: Montserrat;
      font-weight: 300;
      font-size: 20px;
  }

p {
    font-size: 19px;
    margin-bottom: 0px;
    color: #333;
  }

header {
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Source Code Pro, arial;
    background-image: url("../images/clouds.jpg");
    background-size: cover;
    padding: 80px 0px 30px 0px;
}

nav {
  opacity: 0.6;
  padding: 5px 20px 20px 20px;
  margin: 0;
  background-color: #ffffff;
}

nav a {
  color: #000000;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: Poppins, arial;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover {
  color: #87a7ed;
}


h2 {
  font-family: Poppins, arial;
  font-size: 25px;
  margin-top: 0px;
}

/* title */
h3 {
  font-family: Poppins, arial;
  font-size: 60px;
  margin-top: 0px;
  margin: 0px;
  text-align: center;
  margin-bottom: 40px;
}

/* education, experience, etc */
h4 {
  font-family: Poppins, arial;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 0px;
}

/* University, Job Titles */
h5 {
  margin-left: 50px;
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 600;
}

h6 {
  font-size: 19px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  font-weight: 300;
}

li {
  margin-left: 50px;
}

ul {
  margin-bottom: 30px;
  margin-top: 15px;
}

footer {
  margin: 20px;
  clear: both;
}

img {
  margin-bottom: 22px;
}

/* Create two unequal columns that float next to each other */
/* Left column */

.blue {
  color: #87a7ed;
}

.blue:visited {
  color: #87a7ed;
}

.left {
    float: left;
    width: 75%;
    content: "";
    display: table;
    clear: both;
  }

/* Right column */
.right {
    float: left;
    width: 25%;
    padding-left: 30px;
    box-sizing: border-box;
}

.box {
  background-color: white;
  padding: 23px 30px 30px 30px;
  margin: 30px 0px 0px 0px;
}

.job {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.soft {
  margin-top: 50px;
}

.wide {
  width: 100%;
  float: left;
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - columns stack */
@media screen and (max-width: 1115px) {
    .left, .right {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - font size smaller */
@media screen and (max-width: 780px) {
  h3 {
    font-size: 40px;
  }
  nav a {
    font-size: 20px;
    padding: 10px;
  }
}

/* Responsive layout - navigation stacks */
@media screen and (max-width: 563px) {
  nav a, nav {
    float: none;
    display: block;
    padding: 10px;

  }
  }
}
